In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
%matplotlib inline

In [2]:
df_final_web_data_cc = pd.read_csv('cleaned_data/df_final_web_data_cc_clean.csv')
df_final_web_data_cc['process_step'].value_counts()

process_step
start      202439
step_1     135733
step_2     110366
step_3      92714
confirm     85631
Name: count, dtype: int64

In [3]:
#check if client_id always has the same visitor_id:

# Group by 'client_id' and calculate the number of unique 'visitor_id' values
unique_visitor_counts = df_final_web_data_cc.groupby('client_id')['visitor_id'].nunique()

# Check if every 'client_id' has only 1 unique 'visitor_id'
consistent_mapping = unique_visitor_counts == 1

# Print any inconsistencies
if consistent_mapping.all():
    print("All client_ids always map to the same visitor_id.")
else:
    inconsistent_clients = unique_visitor_counts[unique_visitor_counts > 1]
    print("The following client_ids map to multiple visitor_ids:")
    print(inconsistent_clients)


#7800 client ids with multiple visitor ids, visitor_id = device?!

The following client_ids map to multiple visitor_ids:
client_id
1643       2
1680       2
4653       2
6130       3
7367       2
          ..
9996088    2
9996404    2
9997470    2
9998342    2
9999729    3
Name: visitor_id, Length: 7841, dtype: int64

In [12]:
#load info about grouping (test vs. control) of clients
df_experiment_clients = pd.read_csv('cleaned_data/df_final_experiment_clients_clean.csv')
df_experiment_clients
#merge info about grouping (test vs. control) of clients into web experiment data
df_web_ex = df_final_web_data_cc.merge(df_experiment_clients, on='client_id', how='left')
df_web_ex['Variation'].value_counts()

Variation
Test       177847
Control    143462
Name: count, dtype: int64

In [17]:
df_web_ex.info() #626.883 entries
df_web_ex['visitor_id'].nunique() #108.216

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 626883 entries, 0 to 626882
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   client_id     626883 non-null  int64
 1   visitor_id    626883 non-null  object
 2   visit_id      626883 non-null  object
 3   process_step  626883 non-null  object
 4   date_time     626883 non-null  object
 5   Variation     321309 non-null  object
dtypes: int64(1), object(5)
memory usage: 28.7+ MB

108216

In [19]:
# Step 1: Group by 'visitor_id'
grouped = df_web_ex.groupby('visitor_id')

# Step 2: Find groups where 'Variation' has more than one unique value
ambiguous_visitors = grouped.filter(lambda x: x['Variation'].nunique() > 1)

# Step 3: Get unique visitor IDs from confusing groups
ambiguous_visitor_ids = ambiguous_visitors['visitor_id'].unique()

# Output the result
print(f"Confusing visitor_id groups with more than one unique 'Variation' value: {len(ambiguous_visitor_ids)}")
print(f"List of ambiguous visitor group IDs: {ambiguous_visitor_ids}")

Confusing visitor_id groups with more than one unique 'Variation' value: 185
List of ambiguous visitor group IDs: ['2304489_84317775004' '604581053_81626830443' '173063648_31762200101'
 '268059948_82733858999' '123678861_93517709373' '454881699_42713236223'
 '580100142_70760670940' '579276105_69624603060' '571763490_44880124691'
 '367561835_85025056674' '666714263_61824030337' '214050749_58021197086'
 '253357465_8352028794' '486653995_31818439461' '96089498_16066779499'
 '199312490_38692028695' '686457792_50130641082' '60396051_9457024068'
 '738569748_4014232718' '423015939_19738622602' '571853589_19816269571'
 '652206951_94195881749' '952443163_11112691478' '26252461_90603995066'
 '198039515_32206414676' '280197097_2758137299' '824327020_10372883807'
 '435478449_41974372268' '105986634_15115236135' '266717833_98903612091'
 '869851118_61172024661' '531755_55417899190' '358981391_35001155514'
 '876787826_20478980103' '989197874_24115340213' '667315159_68457727652'
 '67620593_47154145788' '453734227_6478687119' '828261927_29115272840'
 '349911763_2743984623' '710765917_90350210282' '369746880_4081376173'
 '742732319_30179284921' '879656945_472859462' '865240682_80882863295'
 '731074017_39926173574' '522165507_38250457327' '641780648_33957975522'
 '125249697_1426097618' '483394654_10382243831' '150113863_95115330977'
 '579588113_28837973292' '898345416_58800215574' '554557284_71171052205'
 '831907020_87640192013' '100636834_70620124872' '64192008_9208684632'
 '266011884_84652463200' '728221144_94480286254' '136361015_51931191096'
 '201070743_75287297947' '814878585_87733461603' '230917770_27549530931'
 '359123374_20630500168' '56272988_75581321852' '994556188_95260212644'
 '866312388_73494860691' '727325631_36890797487' '564089844_86272916049'
 '246494405_59313361171' '555107613_4315691224' '702205992_96613546585'
 '443968866_7180828659' '447381795_2977752189' '670445700_89189940902'
 '319422670_89780464038' '620995333_87282116310' '339507880_58752688605'
 '316342363_76799839413' '872104674_15165385285' '374419535_18748432073'
 '721521850_92225199965' '124364695_72848638784' '13858321_69002501216'
 '624059242_35711297508' '801892005_64520303565' '143038172_18564060779'
 '208048562_5591648325' '173834802_47633932352' '489537091_37607083854'
 '364532756_23035453354' '715134556_3689324169' '419445242_20282067887'
 '515293465_79062923389' '252133277_24978497089' '851864656_64225757002'
 '791666474_2976739026' '33210666_23000744533' '685653394_18664342532'
 '202558708_31306231455' '275094252_28070777384' '597725035_76241412375'
 '715708644_45733496608' '574575487_83860481655' '750679946_76269049083'
 '443645082_45004362608' '495370566_92227402790' '171258082_39293731405'
 '431137771_30820552080' '46057190_73156858230' '129784163_53998921269'
 '364224873_85854438978' '485248849_1456705396' '995658764_57249134716'
 '229961975_94441052546' '606840453_42896616341' '488561860_71157152182'
 '405860854_50357449812' '498582584_15371353016' '993860627_38915998531'
 '146829942_93862649145' '770471846_77622401441' '982616761_11732633016'
 '932762317_34159534713' '417276895_69369014179' '617092724_97774211250'
 '903307072_18441566115' '294105339_7410508106' '525656394_43763375348'
 '322042761_23435445054' '254175251_5339168232' '752897007_42234991237'
 '952016734_77137532935' '249534686_24890657021' '533487441_49881025237'
 '750899226_48469477780' '541000283_89047083445' '381789213_30254245920'
 '947497725_77096950125' '737706569_89534042583' '632056465_76580399949'
 '370355571_45480330346' '298088877_58723391200' '765403089_80118370684'
 '880619007_85129147759' '298337353_71717595917' '856935182_79424736651'
 '376531209_83463282404' '476723878_70182400167' '174108540_192155950'
 '873345447_13166065086' '529942715_14364280313' '456466578_18564150655'
 '267061486_54270904504' '394247857_56670565004' '218226723_99637625742'
 '295350877_84669787354' '737710614_45595106000' '101002710_46550496480'
 '941956515_47380266549' '494497404_19580991399' '341266459_82107407773'
 '959657282_41264437824' '958989901_59795798277' '450757286_43171167841'
 '859172692_10047439610' '739324800_32877575794' '202767349_28104895584'
 '605916977_57543976623' '935631547_5523892762' '972190267_89053808634'
 '949412682_71166792883' '946722350_66149339902' '916735778_65669058968'
 '615551339_87154719076' '747615758_96811508581' '998389409_35306819556'
 '386546813_81776454991' '260077691_71977603647' '939629798_29489970890'
 '763556762_2909608449' '206581063_60792309171' '1738850_35364551433'
 '74117540_85871955464' '196946330_75352149649']

In [91]:
df_web_ex[df_web_ex['visitor_id'] == '454881699_42713236223']

,client_id,visitor_id,visit_id,process_step,date_time,Variation
3667,7460349,454881699_42713236223,399371316_39189899496_559976,step_1,2017-04-05 16:14:01,Control
3668,7460349,454881699_42713236223,399371316_39189899496_559976,step_1,2017-04-05 16:13:30,Control
3669,7460349,454881699_42713236223,399371316_39189899496_559976,step_1,2017-04-05 16:12:55,Control
3670,7460349,454881699_42713236223,399371316_39189899496_559976,start,2017-04-05 16:12:36,Control
195402,7208557,454881699_42713236223,399371316_39189899496_559976,start,2017-04-05 16:19:36,Test
195403,7208557,454881699_42713236223,399371316_39189899496_559976,step_2,2017-04-05 16:15:33,Test
195404,7208557,454881699_42713236223,399371316_39189899496_559976,step_1,2017-04-05 16:15:03,Test
195405,7208557,454881699_42713236223,399371316_39189899496_559976,start,2017-04-05 16:14:55,Test
480674,7208557,454881699_42713236223,430342294_16750074009_383709,start,2017-05-01 18:24:00,Test
480675,7208557,454881699_42713236223,430342294_16750074009_383709,step_2,2017-05-01 18:20:31,Test
480676,7208557,454881699_42713236223,430342294_16750074009_383709,step_1,2017-05-01 18:19:48,Test
480677,7208557,454881699_42713236223,430342294_16750074009_383709,start,2017-05-01 18:19:44,Test

In [20]:
#getting rid of the clients with the ambiguous visitor_ids
#from 185 visitor_ids that have more than one variation take the client ids into a drop list
client_ids_to_drop = []
for visitor_id in ambiguous_visitor_ids:
    for i in range(len(df_web_ex[df_web_ex['visitor_id'] == f'{visitor_id}']['client_id'].unique())):
        client_ids_to_drop.append(df_web_ex[df_web_ex['visitor_id'] == f'{visitor_id}']['client_id'].unique()[i])
client_ids_to_drop
#372 client_ids to drop

[9207047,
 765501,
 3155140,
 8633436,
 1428836,
 2842705,
 1344819,
 2683949,
 7460349,
 7208557,
 7460349,
 7208557,
 7303592,
 2648176,
 1144410,
 8883167,
 1663358,
 6167838,
 5856806,
 6243085,
 6226635,
 9927319,
 8889840,
 4514081,
 4054538,
 9458283,
 3742706,
 7263987,
 6351678,
 8626474,
 6351678,
 8626474,
 6731654,
 1813291,
 9152344,
 6635872,
 730714,
 9031268,
 4473543,
 461591,
 9941169,
 1932870,
 8146476,
 8471730,
 4345628,
 3602878,
 3423009,
 8563144,
 1646603,
 9379616,
 3573864,
 2457672,
 553978,
 9969431,
 4675712,
 187837,
 9997125,
 4262428,
 9205347,
 1921173,
 5250597,
 89039,
 8632835,
 7726374,
 1003184,
 3980473,
 7367695,
 2483737,
 2221946,
 3517625,
 6848944,
 9560313,
 7546162,
 823619,
 6543689,
 1555759,
 6233209,
 2982738,
 9366159,
 4404931,
 4408117,
 1995384,
 9583832,
 2762642,
 2102149,
 6775330,
 9844262,
 7419662,
 826682,
 4315157,
 2772609,
 4524801,
 7126892,
 8811666,
 1794555,
 8278713,
 4874181,
 1517855,
 1838227,
 8408236,
 5224523,
 9309478,
 4726261,
 6213098,
 5756352,
 8142042,
 588058,
 3986891,
 7818040,
 4227725,
 3824926,
 1717048,
 8611255,
 4105704,
 8839979,
 2872086,
 67452,
 8967825,
 4003786,
 2866632,
 772961,
 2886145,
 5411104,
 7692003,
 4847745,
 6697932,
 2278737,
 694239,
 9357020,
 5624950,
 5842948,
 9396561,
 8233227,
 9386153,
 6714002,
 4036982,
 7219287,
 696227,
 6995732,
 3538870,
 4130407,
 2368293,
 7668738,
 6208954,
 6058559,
 8423502,
 7036316,
 7360903,
 6808154,
 119006,
 802406,
 1751674,
 1159934,
 6797662,
 9648714,
 1676219,
 1792552,
 3696448,
 1505142,
 6809644,
 2823318,
 3522242,
 2423443,
 5285625,
 4537483,
 9753307,
 5672855,
 6720336,
 5182699,
 2485121,
 1868765,
 8193865,
 6966638,
 6341488,
 6575566,
 8803272,
 7932417,
 9994764,
 7705920,
 2983447,
 826542,
 661527,
 2509466,
 9814833,
 5825322,
 3813598,
 2533841,
 8415542,
 409075,
 6747997,
 1127362,
 6582932,
 3706156,
 9779291,
 4536493,
 2521514,
 4882149,
 7263819,
 4981705,
 9635914,
 278866,
 6717563,
 2584059,
 7018629,
 4703000,
 8239508,
 4135771,
 4327419,
 6379275,
 3954516,
 451603,
 8366249,
 2737360,
 737256,
 473920,
 8254071,
 6085835,
 325599,
 7187944,
 525234,
 9699861,
 2911049,
 4317999,
 8432888,
 2230504,
 1166874,
 477656,
 9129736,
 8342480,
 4974827,
 5329164,
 4494169,
 7733089,
 9150149,
 2808682,
 7749080,
 5261223,
 6743414,
 4695473,
 2296131,
 1170750,
 2283151,
 6294261,
 4934669,
 2250020,
 6965517,
 9711004,
 1333457,
 4750401,
 1050966,
 1355532,
 717126,
 8201583,
 510867,
 760554,
 4308897,
 4488084,
 2854927,
 5023925,
 7655478,
 6230352,
 8455692,
 1295824,
 7516259,
 9670485,
 8293466,
 7758995,
 7696106,
 8604039,
 9977189,
 9714233,
 1239693,
 4465200,
 6962372,
 860470,
 5941144,
 9856081,
 20668,
 3184564,
 5694283,
 2080124,
 2992803,
 2080124,
 2992803,
 5140672,
 6804321,
 1617593,
 9864147,
 1617593,
 9864147,
 8784101,
 2277480,
 8587389,
 4885417,
 9888937,
 2456180,
 6098439,
 5552984,
 3600955,
 2478508,
 7993028,
 456416,
 6490913,
 7411340,
 4316529,
 7159239,
 938227,
 5021309,
 8386504,
 9738273,
 9370023,
 7305461,
 3848025,
 1647068,
 8907499,
 1263597,
 2911975,
 5733434,
 5978473,
 8375301,
 2235419,
 9271098,
 1688588,
 9719474,
 382734,
 2644510,
 7984549,
 6794134,
 7159966,
 6119833,
 1741236,
 6901495,
 6634320,
 4513475,
 1311685,
 9114360,
 888744,
 7102262,
 4105263,
 5031199,
 5763636,
 567010,
 2599060,
 5171794,
 2228228,
 2717723,
 9522035,
 553887,
 8908352,
 4631763,
 6525151,
 5124906,
 2476272,
 4994746,
 6737992,
 8246277,
 3983191,
 2750633,
 3704866,
 9996137,
 797911,
 9244582,
 797911,
 9244582,
 8791345,
 7855438,
 7419738,
 2519119,
 4245868,
 9127572,
 2859751,
 5901737]

In [7]:
# Drop rows where client_id is in client_ids_to_drop
df_web_ex = df_web_ex[~df_web_ex['client_id'].isin(client_ids_to_drop)]
df_web_ex.info() #624.446 entries, before 626.883
df_web_ex['visitor_id'].nunique() #107.993 before 108216

NameError: name 'df_web_ex' is not defined

In [109]:
df_web_exp.to_csv('df_web_ex_cleaned_part2_visitor_ids.csv', index=False)

In [29]:
#der eine special fall der gleiche visitor id gleiche visit id 2 client ids 2 erfolgreiche prozesse
# und auch der fall von start auf confirm:
df_web_ex[df_web_ex['visit_id'] == '200827274_88708804706_343871']

,client_id,visitor_id,visit_id,process_step,date_time,Variation
38668,507290,939712117_71587565939,200827274_88708804706_343871,confirm,2017-04-08 15:24:25,Test
38669,507290,939712117_71587565939,200827274_88708804706_343871,step_3,2017-04-08 15:23:21,Test
38670,507290,939712117_71587565939,200827274_88708804706_343871,step_2,2017-04-08 15:22:33,Test
38671,507290,939712117_71587565939,200827274_88708804706_343871,step_3,2017-04-08 15:22:04,Test
38672,507290,939712117_71587565939,200827274_88708804706_343871,step_2,2017-04-08 15:21:50,Test
38673,507290,939712117_71587565939,200827274_88708804706_343871,step_3,2017-04-08 15:17:57,Test
38674,507290,939712117_71587565939,200827274_88708804706_343871,step_2,2017-04-08 15:14:22,Test
38675,507290,939712117_71587565939,200827274_88708804706_343871,step_1,2017-04-08 15:13:44,Test
38676,507290,939712117_71587565939,200827274_88708804706_343871,start,2017-04-08 15:12:25,Test
178870,7116423,939712117_71587565939,200827274_88708804706_343871,step_1,2017-04-08 15:49:48,Test
178871,7116423,939712117_71587565939,200827274_88708804706_343871,start,2017-04-08 15:49:25,Test
178872,7116423,939712117_71587565939,200827274_88708804706_343871,confirm,2017-04-08 15:47:57,Test
178873,7116423,939712117_71587565939,200827274_88708804706_343871,step_3,2017-04-08 15:47:53,Test
178874,7116423,939712117_71587565939,200827274_88708804706_343871,step_3,2017-04-08 15:47:51,Test
178875,7116423,939712117_71587565939,200827274_88708804706_343871,step_3,2017-04-08 15:45:48,Test
178876,7116423,939712117_71587565939,200827274_88708804706_343871,step_2,2017-04-08 15:43:41,Test
178877,7116423,939712117_71587565939,200827274_88708804706_343871,step_1,2017-04-08 15:43:35,Test
178878,7116423,939712117_71587565939,200827274_88708804706_343871,step_2,2017-04-08 15:42:47,Test
178879,7116423,939712117_71587565939,200827274_88708804706_343871,step_3,2017-04-08 15:42:27,Test
178880,7116423,939712117_71587565939,200827274_88708804706_343871,step_2,2017-04-08 15:40:46,Test
178881,7116423,939712117_71587565939,200827274_88708804706_343871,step_3,2017-04-08 15:40:27,Test
178882,7116423,939712117_71587565939,200827274_88708804706_343871,step_2,2017-04-08 15:40:07,Test
178883,7116423,939712117_71587565939,200827274_88708804706_343871,step_3,2017-04-08 15:38:43,Test
178884,7116423,939712117_71587565939,200827274_88708804706_343871,step_2,2017-04-08 15:36:42,Test
178885,7116423,939712117_71587565939,200827274_88708804706_343871,step_1,2017-04-08 15:36:30,Test
178886,7116423,939712117_71587565939,200827274_88708804706_343871,start,2017-04-08 15:36:08,Test