In [99]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
%matplotlib inline

In [9]:
df_final_web_data_cc = pd.read_csv('cleaned_data/df_final_web_data_cc_clean.csv')
df_final_web_data_cc['process_step'].value_counts()

process_step
start      202439
step_1     135733
step_2     110366
step_3      92714
confirm     85631
Name: count, dtype: int64

In [8]:
#check if client_id always has the same visitor_id:

# Group by 'client_id' and calculate the number of unique 'visitor_id' values
unique_visitor_counts = df_final_web_data_cc.groupby('client_id')['visitor_id'].nunique()

# Check if every 'client_id' has only 1 unique 'visitor_id'
consistent_mapping = unique_visitor_counts == 1

# Print any inconsistencies
if consistent_mapping.all():
    print("All client_ids always map to the same visitor_id.")
else:
    inconsistent_clients = unique_visitor_counts[unique_visitor_counts > 1]
    print("The following client_ids map to multiple visitor_ids:")
    print(inconsistent_clients)


#actually not important as later on we found to assume that visitor_id should represent the device and cleint_ids are indeed unique

The following client_ids map to multiple visitor_ids:
client_id
1643       2
1680       2
4653       2
6130       3
7367       2
          ..
9996088    2
9996404    2
9997470    2
9998342    2
9999729    3
Name: visitor_id, Length: 7841, dtype: int64

In [101]:
df_experiment_clients = pd.read_csv('cleaned_data/df_final_experiment_clients_clean.csv')
df_experiment_clients

df_web_ex = df_final_web_data_cc.merge(df_experiment_clients, on='client_id', how='left')
df_web_ex['Variation'].value_counts()

Variation
Test       177847
Control    143462
Name: count, dtype: int64

In [107]:
df_web_ex.info() #626.883 entries
df_web_ex['visitor_id'].nunique() 108.216

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 626883 entries, 0 to 626882
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   client_id     626883 non-null  int64
 1   visitor_id    626883 non-null  object
 2   visit_id      626883 non-null  object
 3   process_step  626883 non-null  object
 4   date_time     626883 non-null  object
 5   Variation     321309 non-null  object
dtypes: int64(1), object(5)
memory usage: 28.7+ MB

In [86]:
# Step 1: Group by 'visitor_id'
grouped = df_web_ex.groupby('visitor_id')

# Step 2: Find groups where 'Variation' has more than one unique value
ambiguous_visitors = grouped.filter(lambda x: x['Variation'].nunique() > 1)

# Step 3: Get unique visitor IDs from confusing groups
ambiguous_visitor_ids = ambiguous_visitors['visitor_id'].unique()

# Output the result
print(f"Confusing visitor_id groups with more than one unique 'Variation' value: {len(ambiguous_visitor_ids)}")
print(f"List of ambiguous visitor group IDs: {ambiguous_visitor_ids}")

Confusing visitor_id groups with more than one unique 'Variation' value: 185
List of ambiguous visitor group IDs: ['2304489_84317775004' '604581053_81626830443' '173063648_31762200101'
 '268059948_82733858999' '123678861_93517709373' '454881699_42713236223'
 '580100142_70760670940' '579276105_69624603060' '571763490_44880124691'
 '367561835_85025056674' '666714263_61824030337' '214050749_58021197086'
 '253357465_8352028794' '486653995_31818439461' '96089498_16066779499'
 '199312490_38692028695' '686457792_50130641082' '60396051_9457024068'
 '738569748_4014232718' '423015939_19738622602' '571853589_19816269571'
 '652206951_94195881749' '952443163_11112691478' '26252461_90603995066'
 '198039515_32206414676' '280197097_2758137299' '824327020_10372883807'
 '435478449_41974372268' '105986634_15115236135' '266717833_98903612091'
 '869851118_61172024661' '531755_55417899190' '358981391_35001155514'
 '876787826_20478980103' '989197874_24115340213' '667315159_68457727652'
 '67620593_47154145788' '453734227_6478687119' '828261927_29115272840'
 '349911763_2743984623' '710765917_90350210282' '369746880_4081376173'
 '742732319_30179284921' '879656945_472859462' '865240682_80882863295'
 '731074017_39926173574' '522165507_38250457327' '641780648_33957975522'
 '125249697_1426097618' '483394654_10382243831' '150113863_95115330977'
 '579588113_28837973292' '898345416_58800215574' '554557284_71171052205'
 '831907020_87640192013' '100636834_70620124872' '64192008_9208684632'
 '266011884_84652463200' '728221144_94480286254' '136361015_51931191096'
 '201070743_75287297947' '814878585_87733461603' '230917770_27549530931'
 '359123374_20630500168' '56272988_75581321852' '994556188_95260212644'
 '866312388_73494860691' '727325631_36890797487' '564089844_86272916049'
 '246494405_59313361171' '555107613_4315691224' '702205992_96613546585'
 '443968866_7180828659' '447381795_2977752189' '670445700_89189940902'
 '319422670_89780464038' '620995333_87282116310' '339507880_58752688605'
 '316342363_76799839413' '872104674_15165385285' '374419535_18748432073'
 '721521850_92225199965' '124364695_72848638784' '13858321_69002501216'
 '624059242_35711297508' '801892005_64520303565' '143038172_18564060779'
 '208048562_5591648325' '173834802_47633932352' '489537091_37607083854'
 '364532756_23035453354' '715134556_3689324169' '419445242_20282067887'
 '515293465_79062923389' '252133277_24978497089' '851864656_64225757002'
 '791666474_2976739026' '33210666_23000744533' '685653394_18664342532'
 '202558708_31306231455' '275094252_28070777384' '597725035_76241412375'
 '715708644_45733496608' '574575487_83860481655' '750679946_76269049083'
 '443645082_45004362608' '495370566_92227402790' '171258082_39293731405'
 '431137771_30820552080' '46057190_73156858230' '129784163_53998921269'
 '364224873_85854438978' '485248849_1456705396' '995658764_57249134716'
 '229961975_94441052546' '606840453_42896616341' '488561860_71157152182'
 '405860854_50357449812' '498582584_15371353016' '993860627_38915998531'
 '146829942_93862649145' '770471846_77622401441' '982616761_11732633016'
 '932762317_34159534713' '417276895_69369014179' '617092724_97774211250'
 '903307072_18441566115' '294105339_7410508106' '525656394_43763375348'
 '322042761_23435445054' '254175251_5339168232' '752897007_42234991237'
 '952016734_77137532935' '249534686_24890657021' '533487441_49881025237'
 '750899226_48469477780' '541000283_89047083445' '381789213_30254245920'
 '947497725_77096950125' '737706569_89534042583' '632056465_76580399949'
 '370355571_45480330346' '298088877_58723391200' '765403089_80118370684'
 '880619007_85129147759' '298337353_71717595917' '856935182_79424736651'
 '376531209_83463282404' '476723878_70182400167' '174108540_192155950'
 '873345447_13166065086' '529942715_14364280313' '456466578_18564150655'
 '267061486_54270904504' '394247857_56670565004' '218226723_99637625742'
 '295350877_84669787354' '737710614_45595106000' '101002710_46550496480'
 '941956515_47380266549' '494497404_19580991399' '341266459_82107407773'
 '959657282_41264437824' '958989901_59795798277' '450757286_43171167841'
 '859172692_10047439610' '739324800_32877575794' '202767349_28104895584'
 '605916977_57543976623' '935631547_5523892762' '972190267_89053808634'
 '949412682_71166792883' '946722350_66149339902' '916735778_65669058968'
 '615551339_87154719076' '747615758_96811508581' '998389409_35306819556'
 '386546813_81776454991' '260077691_71977603647' '939629798_29489970890'
 '763556762_2909608449' '206581063_60792309171' '1738850_35364551433'
 '74117540_85871955464' '196946330_75352149649']

In [91]:
df_web_ex[df_web_ex['visitor_id'] == '454881699_42713236223']

,client_id,visitor_id,visit_id,process_step,date_time,Variation
3667,7460349,454881699_42713236223,399371316_39189899496_559976,step_1,2017-04-05 16:14:01,Control
3668,7460349,454881699_42713236223,399371316_39189899496_559976,step_1,2017-04-05 16:13:30,Control
3669,7460349,454881699_42713236223,399371316_39189899496_559976,step_1,2017-04-05 16:12:55,Control
3670,7460349,454881699_42713236223,399371316_39189899496_559976,start,2017-04-05 16:12:36,Control
195402,7208557,454881699_42713236223,399371316_39189899496_559976,start,2017-04-05 16:19:36,Test
195403,7208557,454881699_42713236223,399371316_39189899496_559976,step_2,2017-04-05 16:15:33,Test
195404,7208557,454881699_42713236223,399371316_39189899496_559976,step_1,2017-04-05 16:15:03,Test
195405,7208557,454881699_42713236223,399371316_39189899496_559976,start,2017-04-05 16:14:55,Test
480674,7208557,454881699_42713236223,430342294_16750074009_383709,start,2017-05-01 18:24:00,Test
480675,7208557,454881699_42713236223,430342294_16750074009_383709,step_2,2017-05-01 18:20:31,Test
480676,7208557,454881699_42713236223,430342294_16750074009_383709,step_1,2017-05-01 18:19:48,Test
480677,7208557,454881699_42713236223,430342294_16750074009_383709,start,2017-05-01 18:19:44,Test

In [91]:
#getting rid of the clients with the ambiguous visitor_ids
#from 185 visitor_ids that have more than one variation take the client ids into a drop list
client_ids_to_drop = []
for visitor_id in ambiguous_visitor_ids:
    for i in range(len(df_web_ex[df_web_ex['visitor_id'] == f'{visitor_id}']['client_id'].unique())):
        client_ids_to_drop.append(df_web_ex[df_web_ex['visitor_id'] == f'{visitor_id}']['client_id'].unique()[i])
len(client_ids_to_drop)
#372 client_ids to drop

372

In [97]:
# Drop rows where client_id is in client_ids_to_drop
df_web_ex = df_web_ex[~df_web_ex['client_id'].isin(client_ids_to_drop)]
df_web_ex.info() #624.446 entries, before 626.883
df_web_ex['visitor_id'].nunique() #107.993 before 108216

<class 'pandas.core.frame.DataFrame'>
Index: 624446 entries, 0 to 626882
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   client_id     624446 non-null  int64
 1   visitor_id    624446 non-null  object
 2   visit_id      624446 non-null  object
 3   process_step  624446 non-null  object
 4   date_time     624446 non-null  object
 5   Variation     318872 non-null  object
dtypes: int64(1), object(5)
memory usage: 33.3+ MB

107993

In [109]:
df_web_ex.to_csv('df_web_ex_cleaned_part2_visitor_ids.csv', index=False)