In [187]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [188]:
import pandas as pd

# Load the CSV file from the data folder in the repo
df_timestamps = pd.read_csv('cleaned_data/df_final_web_data_cc_clean.csv')

# Display the DataFrame
df_timestamps.head(3)

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22

In [189]:
# Load the CSV file from the data folder in the repo
df_timestamps_clean = pd.read_csv('cleaned_data/df_web_ex_cleaned_part2_visitor_ids.csv')

# Display the DataFrame
df_timestamps_clean.shape

(624446, 6)

In [190]:
df_timestamps_clean['date_time'] = pd.to_datetime(df_timestamps_clean['date_time'])

In [191]:
df_timestamps_clean

,client_id,visitor_id,visit_id,process_step,date_time,Variation
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07,Test
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51,Test
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22,Test
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13,Test
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04,Test
...,...,...,...,...,...,...
624441,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:46:10,NaN
624442,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:45:29,NaN
624443,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:44:51,NaN
624444,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:44:34,NaN
624445,674799,947159805_81558194550,86152093_47511127657_716022,start,2017-06-03 12:17:09,NaN

In [192]:
df_timestamps_clean = df_timestamps_clean.sort_values(by=['visit_id', 'date_time'])

In [193]:
df_timestamps_clean

,client_id,visitor_id,visit_id,process_step,date_time,Variation
107773,3561384,451664975_1722933822,100012776_37918976071_457913,confirm,2017-04-26 13:22:17,Test
107772,3561384,451664975_1722933822,100012776_37918976071_457913,confirm,2017-04-26 13:23:09,Test
349458,9056452,306992881_89423906595,1000165_4190026492_760066,start,2017-06-04 01:07:29,NaN
349457,9056452,306992881_89423906595,1000165_4190026492_760066,step_1,2017-06-04 01:07:32,NaN
349456,9056452,306992881_89423906595,1000165_4190026492_760066,step_2,2017-06-04 01:07:56,NaN
...,...,...,...,...,...,...
440393,7149380,483112224_46340533900,999992932_41666455053_671149,step_1,2017-06-06 15:46:24,NaN
440392,7149380,483112224_46340533900,999992932_41666455053_671149,step_2,2017-06-06 15:47:32,NaN
440410,7149380,483112224_46340533900,999992932_41666455053_671149,step_3,2017-06-06 16:01:46,NaN
440409,7149380,483112224_46340533900,999992932_41666455053_671149,confirm,2017-06-06 16:04:08,NaN
440408,7149380,483112224_46340533900,999992932_41666455053_671149,confirm,2017-06-06 16:05:34,NaN

In [194]:
df_timestamps_clean = df_timestamps_clean.dropna(subset=['Variation'])

In [195]:
df_timestamps_clean.head(3)

,client_id,visitor_id,visit_id,process_step,date_time,Variation
107773,3561384,451664975_1722933822,100012776_37918976071_457913,confirm,2017-04-26 13:22:17,Test
107772,3561384,451664975_1722933822,100012776_37918976071_457913,confirm,2017-04-26 13:23:09,Test
238647,7338123,612065484_94198474375,100019538_17884295066_43909,start,2017-04-09 16:20:56,Test

In [196]:
#df_filtered = df[df['Age'] > 30]

In [197]:
#df = df[~(df['Age'] > 30)]

In [198]:
df_timestamps_clean_v_test = df_timestamps_clean[(df_timestamps_clean['Variation'] == "Test")]

In [199]:
df_timestamps_clean_v_control = df_timestamps_clean[(df_timestamps_clean['Variation'] == "Control")]

In [200]:
# Filter attempt, discarted

#df_timestamps_clean_v_test = df_timestamps_clean[df_timestamps_clean["Variation"] == "Test"]
#df_timestamps_clean_v_control = df_timestamps_clean[df_timestamps_clean["Variation"] == "Control"]

In [201]:
df_timestamps_clean_v_test.head(3)

,client_id,visitor_id,visit_id,process_step,date_time,Variation
107773,3561384,451664975_1722933822,100012776_37918976071_457913,confirm,2017-04-26 13:22:17,Test
107772,3561384,451664975_1722933822,100012776_37918976071_457913,confirm,2017-04-26 13:23:09,Test
238647,7338123,612065484_94198474375,100019538_17884295066_43909,start,2017-04-09 16:20:56,Test

In [202]:
step_list = ["start", "step_1", "step_2", "step_3", "confirm"]

In [203]:
# Example list
my_list = [10, 20, 30, 40, 50]

# Variable to find in the list
variable = 30

# Find position (index) of variable in list
position = my_list.index(variable)

In [204]:
df_timestamps_clean['previous_step'] = df_timestamps_clean.groupby('visit_id')['process_step'].shift(1)
df_timestamps_clean['previous_date_time'] = df_timestamps_clean.groupby('visit_id')['date_time'].shift(1)

C:\Users\rafae\AppData\Local\Temp\ipykernel_47380\2819034559.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_timestamps_clean['previous_step'] = df_timestamps_clean.groupby('visit_id')['process_step'].shift(1)
C:\Users\rafae\AppData\Local\Temp\ipykernel_47380\2819034559.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_timestamps_clean['previous_date_time'] = df_timestamps_clean.groupby('visit_id')['date_time'].shift(1)

In [205]:
df_timestamps_clean_v_test['previous_step'] = df_timestamps_clean_v_test.groupby('visit_id')['process_step'].shift(1)
df_timestamps_clean_v_test['previous_date_time'] = df_timestamps_clean_v_test.groupby('visit_id')['date_time'].shift(1)

C:\Users\rafae\AppData\Local\Temp\ipykernel_47380\1026909670.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_timestamps_clean_v_test['previous_step'] = df_timestamps_clean_v_test.groupby('visit_id')['process_step'].shift(1)
C:\Users\rafae\AppData\Local\Temp\ipykernel_47380\1026909670.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_timestamps_clean_v_test['previous_date_time'] = df_timestamps_clean_v_test.groupby('visit_id')['date_time'].shift(1)

In [206]:
df_timestamps_clean_v_control['previous_step'] = df_timestamps_clean_v_control.groupby('visit_id')['process_step'].shift(1)
df_timestamps_clean_v_control['previous_date_time'] = df_timestamps_clean_v_control.groupby('visit_id')['date_time'].shift(1)

C:\Users\rafae\AppData\Local\Temp\ipykernel_47380\3805293047.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_timestamps_clean_v_control['previous_step'] = df_timestamps_clean_v_control.groupby('visit_id')['process_step'].shift(1)
C:\Users\rafae\AppData\Local\Temp\ipykernel_47380\3805293047.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_timestamps_clean_v_control['previous_date_time'] = df_timestamps_clean_v_control.groupby('visit_id')['date_time'].shift(1)

In [207]:
def get_time_spent(row):
    step_list = ["start", "step_1", "step_2", "step_3", "confirm"]
    
    # Get the current and previous steps
    current_step = row["process_step"]
    previous_step = row["previous_step"]

    # Ensure the current step is valid and find the expected previous step
    if current_step in step_list:
        current_pos_index = step_list.index(current_step)
        
        # If it's not the first step, find the expected previous step
        if current_pos_index > 0:
            expected_previous_step = step_list[current_pos_index - 1]
        else:
            expected_previous_step = None
    else:
        expected_previous_step = None

    # We consider it to not be an error until provided otherwise (in the next step)
    row["error_flag"] = False
    
    # Validate that the previous step matches the expected step
    if previous_step == expected_previous_step:
        # Calculate the time difference if the previous step is valid
        row["time_spent_seconds"] = (row["date_time"] - row["previous_date_time"]).total_seconds()
    else:
        # If the previous step is not valid, set time_spent_seconds to NaN or some default value
        row["time_spent_seconds"] = None

        #Turns the flag into True (signaling that it is an error, unless the step is a start)
        if current_step == "start" :
            row["error_flag"] = np.nan
        else:
            row["error_flag"] = True
        
    
    return row

In [208]:
### EXECUTE ORDER 66

df_timestamps_clean = df_timestamps_clean.apply(get_time_spent, axis=1)
df_timestamps_clean_v_test = df_timestamps_clean_v_test.apply(get_time_spent, axis=1)
df_timestamps_clean_v_control = df_timestamps_clean_v_control.apply(get_time_spent, axis=1)

In [209]:
#df_timestamps = df_timestamps.groupby('visit_id').apply(get_time_spent)

In [210]:
df_timestamps_clean_v_test.head(3)

,client_id,visitor_id,visit_id,process_step,date_time,Variation,previous_step,previous_date_time,error_flag,time_spent_seconds
107773,3561384,451664975_1722933822,100012776_37918976071_457913,confirm,2017-04-26 13:22:17,Test,NaN,NaT,True,NaN
107772,3561384,451664975_1722933822,100012776_37918976071_457913,confirm,2017-04-26 13:23:09,Test,confirm,2017-04-26 13:22:17,True,NaN
238647,7338123,612065484_94198474375,100019538_17884295066_43909,start,2017-04-09 16:20:56,Test,NaN,NaT,NaN,NaN

In [211]:
df_timestamps_clean_v_control.head(3)

,client_id,visitor_id,visit_id,process_step,date_time,Variation,previous_step,previous_date_time,error_flag,time_spent_seconds
237496,105007,676020267_36602664238,100030127_47967100085_936361,start,2017-03-22 11:07:49,Control,NaN,NaT,NaN,NaN
27304,5623007,700426174_33289797318,100037962_47432393712_705583,start,2017-04-14 16:41:51,Control,NaN,NaT,NaN,NaN
27303,5623007,700426174_33289797318,100037962_47432393712_705583,start,2017-04-14 16:43:16,Control,start,2017-04-14 16:41:51,NaN,NaN

In [212]:
#df_timestamps['time_spent_seconds'] = df_timestamps['time_spent_seconds'].dt.total_seconds()

In [213]:
x_true = 56999
y_false = 367445
z_actual = x_true / y_false * 100

In [214]:
z_actual

15.512253534542584

In [215]:
df_timestamps_clean_v_test['error_flag'].value_counts()

error_flag
False    102613
True      17830
Name: count, dtype: int64

In [228]:
### % Percentage of Errors in Test
df_timestamps_clean_v_test['error_flag'].value_counts()[1] / df_timestamps_clean_v_test['error_flag'].value_counts()[0] * 100

C:\Users\rafae\AppData\Local\Temp\ipykernel_47380\2521890664.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df_timestamps_clean_v_test['error_flag'].value_counts()[1] / df_timestamps_clean_v_test['error_flag'].value_counts()[0] * 100
C:\Users\rafae\AppData\Local\Temp\ipykernel_47380\2521890664.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df_timestamps_clean_v_test['error_flag'].value_counts()[1] / df_timestamps_clean_v_test['error_flag'].value_counts()[0] * 100

17.375966008205587

In [216]:
df_timestamps_clean_v_control['error_flag'].value_counts()

error_flag
False    83906
True     11120
Name: count, dtype: int64

In [229]:
### % Percentage of Errors in Control
df_timestamps_clean_v_control['error_flag'].value_counts()[1] / df_timestamps_clean_v_control['error_flag'].value_counts()[0] * 100

C:\Users\rafae\AppData\Local\Temp\ipykernel_47380\1973556789.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df_timestamps_clean_v_control['error_flag'].value_counts()[1] / df_timestamps_clean_v_control['error_flag'].value_counts()[0] * 100
C:\Users\rafae\AppData\Local\Temp\ipykernel_47380\1973556789.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df_timestamps_clean_v_control['error_flag'].value_counts()[1] / df_timestamps_clean_v_control['error_flag'].value_counts()[0] * 100

13.252925893261509

In [217]:
mean_time_per_step_v_test = df_timestamps_clean_v_test.groupby('process_step')['time_spent_seconds'].mean()

# Average Time spent per Step, in seconds
mean_time_per_step_v_test

process_step
confirm    105.093187
start             NaN
step_1      31.087069
step_2      37.144365
step_3      86.547344
Name: time_spent_seconds, dtype: float64

In [218]:
mean_time_per_step_v_control = df_timestamps_clean_v_control.groupby('process_step')['time_spent_seconds'].mean()

# Average Time spent per Step, in seconds
mean_time_per_step_v_control

process_step
confirm    127.461757
start             NaN
step_1      37.701655
step_2      33.864246
step_3      87.178790
Name: time_spent_seconds, dtype: float64

In [219]:
mean_time_per_step_v_test.index = ['D. step 3 to confirm', 'Z. before to start', 'A. start to step_1', 'B. step_1 to step_2', 'C. step_2 to step_3']

In [220]:
mean_time_per_step_v_control.index = ['D. step 3 to confirm', 'Z. before to start', 'A. start to step_1', 'B. step_1 to step_2', 'C. step_2 to step_3']

In [221]:
### Mean Time in the Test Group
mean_time_per_step_v_test

D. step 3 to confirm    105.093187
Z. before to start             NaN
A. start to step_1       31.087069
B. step_1 to step_2      37.144365
C. step_2 to step_3      86.547344
Name: time_spent_seconds, dtype: float64

In [222]:
### Mean Time in the Control Group
mean_time_per_step_v_control

D. step 3 to confirm    127.461757
Z. before to start             NaN
A. start to step_1       37.701655
B. step_1 to step_2      33.864246
C. step_2 to step_3      87.178790
Name: time_spent_seconds, dtype: float64