In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [3]:
### OLD VERSION
# Load the CSV file from the data folder in the repo
df_timestamps = pd.read_csv('cleaned_data/df_final_web_data_cc_clean.csv')

# Display the DataFrame
df_timestamps.head(3)

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22

In [4]:
### CURRENT VERSION

# Load the CSV file from the data folder in the repo
df_timestamps_clean = pd.read_csv('cleaned_data/df_web_ex_cleaned_part2_visitor_ids.csv')

# Display the DataFrame
df_timestamps_clean.shape

(624446, 6)

In [5]:
df_timestamps_clean['date_time'] = pd.to_datetime(df_timestamps_clean['date_time'])

In [6]:
df_timestamps_clean.head(2)

,client_id,visitor_id,visit_id,process_step,date_time,Variation
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07,Test
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51,Test

In [7]:
df_timestamps_clean = df_timestamps_clean.sort_values(by=['visit_id', 'date_time'])

In [8]:
df_timestamps_clean.head(2)

,client_id,visitor_id,visit_id,process_step,date_time,Variation
107773,3561384,451664975_1722933822,100012776_37918976071_457913,confirm,2017-04-26 13:22:17,Test
107772,3561384,451664975_1722933822,100012776_37918976071_457913,confirm,2017-04-26 13:23:09,Test

In [9]:
df_timestamps_clean = df_timestamps_clean.dropna(subset=['Variation'])

In [10]:
df_timestamps_clean.head(2)

,client_id,visitor_id,visit_id,process_step,date_time,Variation
107773,3561384,451664975_1722933822,100012776_37918976071_457913,confirm,2017-04-26 13:22:17,Test
107772,3561384,451664975_1722933822,100012776_37918976071_457913,confirm,2017-04-26 13:23:09,Test

In [11]:
### Filtering DF for only Test group customers

df_timestamps_clean_v_test = df_timestamps_clean[(df_timestamps_clean['Variation'] == "Test")]

In [12]:
## Filtering DF for only Test group customers

df_timestamps_clean_v_control = df_timestamps_clean[(df_timestamps_clean['Variation'] == "Control")]

In [13]:
df_timestamps_clean_v_test.head(2)

,client_id,visitor_id,visit_id,process_step,date_time,Variation
107773,3561384,451664975_1722933822,100012776_37918976071_457913,confirm,2017-04-26 13:22:17,Test
107772,3561384,451664975_1722933822,100012776_37918976071_457913,confirm,2017-04-26 13:23:09,Test

In [14]:
step_list = ["start", "step_1", "step_2", "step_3", "confirm"]

In [15]:
### Create a helper column, in order to access the previous step of the same visitor id

df_timestamps_clean['previous_step'] = df_timestamps_clean.groupby('visit_id')['process_step'].shift(1)
df_timestamps_clean['previous_date_time'] = df_timestamps_clean.groupby('visit_id')['date_time'].shift(1)

In [16]:
df_timestamps_clean_v_test['previous_step'] = df_timestamps_clean_v_test.groupby('visit_id')['process_step'].shift(1)
df_timestamps_clean_v_test['previous_date_time'] = df_timestamps_clean_v_test.groupby('visit_id')['date_time'].shift(1)

C:\Users\rafae\AppData\Local\Temp\ipykernel_29284\1026909670.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_timestamps_clean_v_test['previous_step'] = df_timestamps_clean_v_test.groupby('visit_id')['process_step'].shift(1)
C:\Users\rafae\AppData\Local\Temp\ipykernel_29284\1026909670.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_timestamps_clean_v_test['previous_date_time'] = df_timestamps_clean_v_test.groupby('visit_id')['date_time'].shift(1)

In [17]:
df_timestamps_clean_v_control['previous_step'] = df_timestamps_clean_v_control.groupby('visit_id')['process_step'].shift(1)
df_timestamps_clean_v_control['previous_date_time'] = df_timestamps_clean_v_control.groupby('visit_id')['date_time'].shift(1)

C:\Users\rafae\AppData\Local\Temp\ipykernel_29284\3805293047.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_timestamps_clean_v_control['previous_step'] = df_timestamps_clean_v_control.groupby('visit_id')['process_step'].shift(1)
C:\Users\rafae\AppData\Local\Temp\ipykernel_29284\3805293047.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_timestamps_clean_v_control['previous_date_time'] = df_timestamps_clean_v_control.groupby('visit_id')['date_time'].shift(1)

In [18]:
df_timestamps_clean_v_control.head(5)

,client_id,visitor_id,visit_id,process_step,date_time,Variation,previous_step,previous_date_time
237496,105007,676020267_36602664238,100030127_47967100085_936361,start,2017-03-22 11:07:49,Control,NaN,NaT
27304,5623007,700426174_33289797318,100037962_47432393712_705583,start,2017-04-14 16:41:51,Control,NaN,NaT
27303,5623007,700426174_33289797318,100037962_47432393712_705583,start,2017-04-14 16:43:16,Control,start,2017-04-14 16:41:51
27302,5623007,700426174_33289797318,100037962_47432393712_705583,step_1,2017-04-14 16:43:55,Control,start,2017-04-14 16:43:16
27301,5623007,700426174_33289797318,100037962_47432393712_705583,start,2017-04-14 16:44:03,Control,step_1,2017-04-14 16:43:55

In [19]:
def get_time_spent(row):
    step_list = ["start", "step_1", "step_2", "step_3", "confirm"]
    
    # Get the current and previous steps
    current_step = row["process_step"]
    previous_step = row["previous_step"]

    # Ensure the current step is valid and find the expected previous step
    if current_step in step_list:
        current_pos_index = step_list.index(current_step)
        
        # If it's not the first step, find the expected previous step
        if current_pos_index > 0:
            expected_previous_step = step_list[current_pos_index - 1]
        else:
            expected_previous_step = None
    else:
        expected_previous_step = None

    # We consider it to not be an error until provided otherwise (in the next step)
    row["error_flag"] = False
    
    # Validate that the previous step matches the expected step
    if previous_step == expected_previous_step:
        # Calculate the time difference if the previous step is valid
        row["time_spent_seconds"] = (row["date_time"] - row["previous_date_time"]).total_seconds()

    ### Edge Case: A start follows after a confirm; not an Error case
    elif current_step == "start" and previous_step == "confirm":
        row["error_flag"] = False
        row["time_spent_seconds"] = None
    else:
        # If the previous step is not valid, set time_spent_seconds to NaN or some default value
        row["time_spent_seconds"] = None

        #Turns the flag into True (signaling that it is an error, unless the step is a start)
        #if current_step == "start":
        if not previous_step and current_step == "start":
            row["error_flag"] = np.nan
        else:
            row["error_flag"] = True
        
    
    return row

In [20]:
### EXECUTE ORDER 66

#df_timestamps_clean = df_timestamps_clean.apply(get_time_spent, axis=1)
df_timestamps_clean_v_test = df_timestamps_clean_v_test.apply(get_time_spent, axis=1)
df_timestamps_clean_v_control = df_timestamps_clean_v_control.apply(get_time_spent, axis=1)

In [21]:
df_timestamps_clean_v_test.head(2)

,client_id,visitor_id,visit_id,process_step,date_time,Variation,previous_step,previous_date_time,error_flag,time_spent_seconds
107773,3561384,451664975_1722933822,100012776_37918976071_457913,confirm,2017-04-26 13:22:17,Test,NaN,NaT,True,NaN
107772,3561384,451664975_1722933822,100012776_37918976071_457913,confirm,2017-04-26 13:23:09,Test,confirm,2017-04-26 13:22:17,True,NaN

In [22]:
df_timestamps_clean_v_control.head(2)

,client_id,visitor_id,visit_id,process_step,date_time,Variation,previous_step,previous_date_time,error_flag,time_spent_seconds
237496,105007,676020267_36602664238,100030127_47967100085_936361,start,2017-03-22 11:07:49,Control,NaN,NaT,True,NaN
27304,5623007,700426174_33289797318,100037962_47432393712_705583,start,2017-04-14 16:41:51,Control,NaN,NaT,True,NaN

In [23]:
df_timestamps_clean_v_test['error_flag'].value_counts()

error_flag
False    102904
True      73661
Name: count, dtype: int64

In [24]:
### % Percentage of Errors in Test
df_timestamps_clean_v_test['error_flag'].value_counts()[1] / df_timestamps_clean_v_test['error_flag'].value_counts()[0] * 100

C:\Users\rafae\AppData\Local\Temp\ipykernel_29284\534756045.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df_timestamps_clean_v_test['error_flag'].value_counts()[1] / df_timestamps_clean_v_test['error_flag'].value_counts()[0] * 100

71.58225141879811

In [25]:
df_timestamps_clean_v_control['error_flag'].value_counts()

error_flag
False    84428
True     57879
Name: count, dtype: int64

In [26]:
### % Percentage of Errors in Control
df_timestamps_clean_v_control['error_flag'].value_counts()[1] / df_timestamps_clean_v_control['error_flag'].value_counts()[0] * 100

C:\Users\rafae\AppData\Local\Temp\ipykernel_29284\1973556789.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df_timestamps_clean_v_control['error_flag'].value_counts()[1] / df_timestamps_clean_v_control['error_flag'].value_counts()[0] * 100

68.55427109489742

In [27]:
mean_time_per_step_v_test = df_timestamps_clean_v_test.groupby('process_step')['time_spent_seconds'].mean()

# Average Time spent per Step, in seconds
mean_time_per_step_v_test

process_step
confirm    105.093187
start             NaN
step_1      31.087069
step_2      37.144365
step_3      86.547344
Name: time_spent_seconds, dtype: float64

In [28]:
mean_time_per_step_v_control = df_timestamps_clean_v_control.groupby('process_step')['time_spent_seconds'].mean()

# Average Time spent per Step, in seconds
mean_time_per_step_v_control

process_step
confirm    127.461757
start             NaN
step_1      37.701655
step_2      33.864246
step_3      87.178790
Name: time_spent_seconds, dtype: float64

In [29]:
mean_time_per_step_v_test.index = ['D. step 3 to confirm', 'Z. before to start', 'A. start to step_1', 'B. step_1 to step_2', 'C. step_2 to step_3']

In [30]:
mean_time_per_step_v_control.index = ['D. step 3 to confirm', 'Z. before to start', 'A. start to step_1', 'B. step_1 to step_2', 'C. step_2 to step_3']

In [31]:
### Mean Time in the Test Group
mean_time_per_step_v_test

D. step 3 to confirm    105.093187
Z. before to start             NaN
A. start to step_1       31.087069
B. step_1 to step_2      37.144365
C. step_2 to step_3      86.547344
Name: time_spent_seconds, dtype: float64

In [52]:
mean_time_per_step_v_test.mean()

64.96799139003879

In [32]:
### Mean Time in the Control Group
mean_time_per_step_v_control

D. step 3 to confirm    127.461757
Z. before to start             NaN
A. start to step_1       37.701655
B. step_1 to step_2      33.864246
C. step_2 to step_3      87.178790
Name: time_spent_seconds, dtype: float64

In [53]:
mean_time_per_step_v_control.mean()

71.55161201514193

In [33]:
df_timestamps_clean_v_control.head(2)

,client_id,visitor_id,visit_id,process_step,date_time,Variation,previous_step,previous_date_time,error_flag,time_spent_seconds
237496,105007,676020267_36602664238,100030127_47967100085_936361,start,2017-03-22 11:07:49,Control,NaN,NaT,True,NaN
27304,5623007,700426174_33289797318,100037962_47432393712_705583,start,2017-04-14 16:41:51,Control,NaN,NaT,True,NaN

In [48]:
#import pandas as pd
import scipy.stats as stats

# Assuming df_timestamps_clean_v_test and df_timestamps_clean_v_control are defined dataframes
# Load your data (assuming you already have df_timestamps_clean_v_test and df_timestamps_clean_v_control)

# Steps to evaluate
steps = ["step_1", "step_2", "step_3", "confirm"]

for step in steps:
    # Filter data for each group and step
    test_group = df_timestamps_clean_v_test[(df_timestamps_clean_v_test['Variation'] == 'Test') & (df_timestamps_clean_v_test['process_step'] == step)]
    control_group = df_timestamps_clean_v_control[(df_timestamps_clean_v_control['Variation'] == 'Control') & (df_timestamps_clean_v_control['process_step'] == step)]

    # Drop null values
    test_group = test_group.dropna(subset=["time_spent_seconds"])
    control_group = control_group.dropna(subset=["time_spent_seconds"])   

    # Conduct an independent two-sample t-test for each step
    t_stat, p_value = stats.ttest_ind(test_group["time_spent_seconds"], control_group["time_spent_seconds"], equal_var=False)  # Set equal_var=True if variances are equal

    # Print results
    print(f"Step {step}: t-statistic = {t_stat:.3f}, p-value = {p_value:.3f}")
    
    # Interpretation
    if p_value < 0.05:  # Assuming a significance level of 0.05
        print(f"Step {step}: There is a significant difference between Test and Control.\n")
    else:
        print(f"Step {step}: No significant difference between Test and Control.\n")

Step step_1: t-statistic = -9.728, p-value = 0.000
Step step_1: There is a significant difference between Test and Control.

Step step_2: t-statistic = 6.504, p-value = 0.000
Step step_2: There is a significant difference between Test and Control.

Step step_3: t-statistic = -0.788, p-value = 0.431
Step step_3: No significant difference between Test and Control.

Step confirm: t-statistic = -12.889, p-value = 0.000
Step confirm: There is a significant difference between Test and Control.

In [51]:
# Assuming df_timestamps_clean_v_test and df_timestamps_clean_v_control are defined dataframes
# Steps to evaluate
steps = ["step_1", "step_2", "step_3", "confirm"]

# Create empty lists to store time spent for test and control groups across all steps
test_times = []
control_times = []

for step in steps:
    # Filter data for each group and step
    test_group = df_timestamps_clean_v_test[(df_timestamps_clean_v_test['Variation'] == 'Test') & (df_timestamps_clean_v_test['process_step'] == step)]
    control_group = df_timestamps_clean_v_control[(df_timestamps_clean_v_control['Variation'] == 'Control') & (df_timestamps_clean_v_control['process_step'] == step)]

    # Drop null values
    test_group = test_group.dropna(subset=["time_spent_seconds"])
    control_group = control_group.dropna(subset=["time_spent_seconds"])

    # Append time spent for each step to the corresponding list
    test_times.extend(test_group["time_spent_seconds"].tolist())
    control_times.extend(control_group["time_spent_seconds"].tolist())

# Conduct a one-way ANOVA for the combined data across all steps
f_stat, p_value = stats.f_oneway(test_times, control_times)

# Print the results for the overall ANOVA across all steps
print(f"Overall ANOVA comparison across all steps: F-statistic = {f_stat:.3f}, p-value = {p_value}")

# Interpretation
if p_value < 0.05:  # Assuming a significance level of 0.05
    print("There is a significant difference between Test and Control across all steps.\n")
else:
    print("No significant difference between Test and Control across all steps.\n")

Overall ANOVA comparison across all steps: F-statistic = 189.395, p-value = 4.522805493525243e-43
There is a significant difference between Test and Control across all steps.